@keyframes ldio-dtjovnhpqav {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.ldio-dtjovnhpqav div {
    position: absolute;
    animation: ldio-dtjovnhpqav 1s linear infinite;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 #101ff9;
    transform-origin: 80px 82px;
}
.loadingio-spinner-eclipse-g5e50y8nqxm {
    width: 200px;
    height: 200px;
    margin-top: 300px, 300px;
    display: inline-block;
    overflow: hidden;
}
.ldio-dtjovnhpqav {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}
.ldio-dtjovnhpqav div {
    box-sizing: content-box;
}
